extends ../layout
block content
  h1 Sign Up
  form(action="/users/register" method="post")
    .form-group
      label(for="name") Name
      input(type="text" class="form-control"  name="name" value="Rizwan" required)
    .form-group
      label(for="email") Email
      input(type="email" class="form-control"  name="email" value="abc@gmail.com" required)
    .form-group
      label(for="password") Password
      input(type="password" class="form-control"  name="password" value="123" required)
    .form-group  
      input(type="submit" class="btn btn-primary" value="Register")
    

